<a href="https://colab.research.google.com/github/ciaoCiao100/proveChallenge2/blob/master/customerKaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importo librerie

In [98]:
import pandas as pd
import functools
import numpy as np
import tensorflow as tf
from sklearn import tree
import matplotlib as plt
import nltk

import sklearn.metrics as metrics
import sklearn
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split


# operazione che fa in modo che i numeri siano pi√π leggibili
np.set_printoptions(precision=3, suppress=True)

caricamento dastaset

In [99]:
# Path of the file to read
customer_file_path = "/content/drive/My Drive/WA_Fn-UseC_-Telco-Customer-Churn.train.csv"
df = pd.read_csv(customer_file_path)
df.head()
# Sostituisco ad ogni stringa vuota il valore 'NaN'
df.replace("", np.nan, inplace=True)
df.replace(" ", np.nan, inplace=True)
df.replace("?", np.nan, inplace=True)
df.head()

  Churn  customerID  ... MonthlyCharges  TotalCharges
0    No  4223-BKEOR  ...          64.85        1336.8
1    No  6035-RIIOM  ...          97.20       5129.45
2   Yes  3797-VTIDR  ...          23.45         23.45
3   Yes  2568-BRGYX  ...          70.20        237.95
4    No  2775-SEFEE  ...          61.90           NaN

[5 rows x 21 columns]

eliminazione righe Nan

In [100]:
# Procediamo con l'eliminazione dei dati non validi (NaN)
df.dropna(inplace=True)
df.head()

  Churn  customerID  ... MonthlyCharges  TotalCharges
0    No  4223-BKEOR  ...          64.85        1336.8
1    No  6035-RIIOM  ...          97.20       5129.45
2   Yes  3797-VTIDR  ...          23.45         23.45
3   Yes  2568-BRGYX  ...          70.20        237.95
5    No  4291-SHSBH  ...          69.55        521.35

[5 rows x 21 columns]

conversione da stringhe a float

In [101]:
#tutte le colonne che contengono stringhe devono essere trasformate in colonne che contengono interi 
for elemento in df:
  if elemento=="MonthlyCharges" or elemento=="TotalCharges" or elemento=="tenure":
   df[elemento] = df[elemento].astype('float')
  else:
   df[elemento] = (pd.Categorical(df[elemento])).codes.astype('float')

# mostro il dataset dopo l'operazione
df.head()

   Churn  customerID  gender  ...  PaymentMethod  MonthlyCharges  TotalCharges
0    0.0      2364.0     0.0  ...            3.0           64.85       1336.80
1    0.0      3448.0     0.0  ...            0.0           97.20       5129.45
2    1.0      2143.0     1.0  ...            2.0           23.45         23.45
3    1.0      1424.0     1.0  ...            2.0           70.20        237.95
5    0.0      2394.0     1.0  ...            2.0           69.55        521.35

[5 rows x 21 columns]

eliminazione colonne inutili

In [102]:
df = df.drop(['customerID', 'gender','Partner'], axis=1)
df.head()

   Churn  SeniorCitizen  ...  MonthlyCharges  TotalCharges
0    0.0            0.0  ...           64.85       1336.80
1    0.0            0.0  ...           97.20       5129.45
2    1.0            0.0  ...           23.45         23.45
3    1.0            0.0  ...           70.20        237.95
5    0.0            0.0  ...           69.55        521.35

[5 rows x 18 columns]

preparazione modello

In [105]:
train, test = train_test_split(df)
features =['SeniorCitizen','Dependents','tenure','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','MonthlyCharges','TotalCharges']
X = train[features]
Y = train['Churn']
X_test = test[features]
Y_test =test['Churn']

# Specify Model
model = DecisionTreeClassifier()
# Fit Model
model.fit(X, Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

train

In [106]:

train_predictions = model.predict(X)
train_acc = metrics.accuracy_score(Y,train_predictions)
print('Accuracy train: %s'  % train_acc)

Accuracy train: 0.9985775248933144

test

In [107]:
test_predictions = model.predict(X_test)
test_acc=metrics.accuracy_score(Y_test,test_predictions)
print('Accuracy test: %s'  % test_acc)

Accuracy test: 0.7204836415362731